//- Subject: Register for Diamond Light Source To Recipients: afakeperson@test.ac.uk Cc Recipients: eight@testing.ac.uk

<p>Dear colleague,</p>

<p>I would like to add you to a Proposal/Session at Diamond Light Source, unfortunately I am unable to find you in their system.</p>

<p>If you are already registered with the Diamond UAS, can you please confirm your contact details with me. If you are not registered, can you please do so using the following link and then contact me so that I can add you to the proposal/session.</p>

<p>
    <a href="http://uasqa2.diamond.ac.uk:8080/uas/register">http://uasqa2.diamond.ac.uk:8080/uas/register</a>
</p>

<p>Please note, you will need to be registered and have passed the Diamond Safety Test to participate in an experimental session.</p>

<p>Once registered, you can take the Diamond Safety Test here <a href="https://www.diamond.ac.uk/Users/Experiment-at-Diamond/Before-you-Arrive/Safety-Video-and-Test.html">https://www.diamond.ac.uk/Users/Experiment-at-Diamond/Before-you-Arrive/Safety-Video-and-Test.html</a>.</p>

<p>Thank you,<br>#{sender}</p>